.main {
	margin: 0 auto;
	margin-top: 5px;
	width: 220px;
}
.display input {
	margin: 0 auto;
	overflow: hidden;
	width: 207px;
	height: 30px;
	border-radius: 5px;
	font-size: 24px;
}
.buttons input {
	margin: 0 auto;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	font-size: 24px;
}